<ion-header>
  <ion-toolbar>
    <ion-title>
      Things To Do
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get your things done</ion-card-subtitle>
        <ion-card-title>Lists of activities</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>I dont know what design should I do for each activities.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
